.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.991000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);-ms-transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);-webkit-transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{width:3.663763px;}
._2{width:7.092255px;}
._3{width:102.856275px;}
._5{width:108.091034px;}
._4{width:150.288015px;}
._0{width:190.481214px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(21,44,48);}
.fs4{font-size:64.043724px;}
.fs6{font-size:80.047149px;}
.fs7{font-size:84.070524px;}
.fs1{font-size:88.784479px;}
.fs3{font-size:91.636871px;}
.fs8{font-size:96.080599px;}
.fs9{font-size:98.452592px;}
.fsa{font-size:100.073955px;}
.fsc{font-size:104.067299px;}
.fsb{font-size:108.090674px;}
.fs5{font-size:150.125936px;}
.fs2{font-size:150.366144px;}
.fs0{font-size:183.153642px;}
.yb{bottom:0.000000px;}
.y1f{bottom:66.122375px;}
.ya{bottom:104.308309px;}
.y1e{bottom:110.559652px;}
.y12{bottom:113.386496px;}
.y26{bottom:122.890515px;}
.y31{bottom:126.126785px;}
.y1d{bottom:154.996929px;}
.y9{bottom:155.951631px;}
.y11{bottom:163.828810px;}
.y30{bottom:183.775144px;}
.y2f{bottom:188.380378px;}
.y1c{bottom:199.434206px;}
.y29{bottom:206.180470px;}
.y8{bottom:207.594953px;}
.y10{bottom:214.271125px;}
.y1b{bottom:243.871484px;}
.y2e{bottom:248.430752px;}
.y7{bottom:259.238275px;}
.y28{bottom:260.225807px;}
.yf{bottom:264.713440px;}
.y2d{bottom:308.481127px;}
.y6{bottom:310.881597px;}
.y27{bottom:314.271144px;}
.ye{bottom:315.155754px;}
.y5{bottom:362.524919px;}
.yd{bottom:365.598069px;}
.y4{bottom:414.168241px;}
.y3{bottom:465.811563px;}
.y2{bottom:517.454885px;}
.y1{bottom:569.098207px;}
.y25{bottom:865.506599px;}
.y24{bottom:912.345891px;}
.y1a{bottom:952.853731px;}
.y23{bottom:959.185183px;}
.y19{bottom:987.682948px;}
.y22{bottom:1006.024475px;}
.y2c{bottom:1019.424260px;}
.y15{bottom:1020.975351px;}
.y18{bottom:1022.512165px;}
.y21{bottom:1052.863767px;}
.y14{bottom:1055.804568px;}
.y17{bottom:1057.341382px;}
.y2b{bottom:1074.670604px;}
.y13{bottom:1090.633785px;}
.y33{bottom:1107.169321px;}
.y20{bottom:1153.032972px;}
.y0{bottom:1157.259445px;}
.y16{bottom:1162.247471px;}
.yc{bottom:1175.396379px;}
.y2a{bottom:1178.009472px;}
.y32{bottom:1191.239846px;}
.h6{height:54.437166px;}
.h9{height:68.040077px;}
.ha{height:71.459946px;}
.h2{height:75.466807px;}
.h5{height:77.891341px;}
.hb{height:81.668509px;}
.hc{height:83.684703px;}
.he{height:85.062862px;}
.h10{height:88.457204px;}
.hf{height:91.877073px;}
.h8{height:127.607046px;}
.h4{height:127.811222px;}
.h1{height:155.680596px;}
.hd{height:1347.599591px;}
.h7{height:1347.599778px;}
.h3{height:1347.599872px;}
.h0{height:1347.599966px;}
.w0{width:952.800000px;}
.x2{left:0.000000px;}
.x13{left:35.281050px;}
.xc{left:55.380730px;}
.x11{left:90.081240px;}
.x5{left:102.326315px;}
.x17{left:109.103086px;}
.x6{left:110.114098px;}
.xe{left:134.028160px;}
.x14{left:142.007092px;}
.x3{left:144.767833px;}
.x10{left:166.474127px;}
.x9{left:170.863035px;}
.x8{left:178.106612px;}
.x19{left:185.246795px;}
.x0{left:198.002105px;}
.x4{left:201.859811px;}
.x1a{left:206.189363px;}
.x15{left:218.470489px;}
.x1{left:224.315991px;}
.x7{left:238.396710px;}
.x16{left:270.493373px;}
.xb{left:278.523845px;}
.xa{left:306.276630px;}
.x1b{left:308.549033px;}
.xd{left:319.095709px;}
.x12{left:320.261837px;}
.xf{left:332.532179px;}
.x18{left:476.611377px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{width:3.053136pt;}
._2{width:5.910213pt;}
._3{width:85.713563pt;}
._5{width:90.075862pt;}
._4{width:125.240013pt;}
._0{width:158.734345pt;}
.fs4{font-size:53.369770pt;}
.fs6{font-size:66.705958pt;}
.fs7{font-size:70.058770pt;}
.fs1{font-size:73.987066pt;}
.fs3{font-size:76.364060pt;}
.fs8{font-size:80.067166pt;}
.fs9{font-size:82.043827pt;}
.fsa{font-size:83.394963pt;}
.fsc{font-size:86.722749pt;}
.fsb{font-size:90.075562pt;}
.fs5{font-size:125.104947pt;}
.fs2{font-size:125.305120pt;}
.fs0{font-size:152.628035pt;}
.yb{bottom:0.000000pt;}
.y1f{bottom:55.101979pt;}
.ya{bottom:86.923591pt;}
.y1e{bottom:92.133044pt;}
.y12{bottom:94.488747pt;}
.y26{bottom:102.408762pt;}
.y31{bottom:105.105654pt;}
.y1d{bottom:129.164108pt;}
.y9{bottom:129.959693pt;}
.y11{bottom:136.524009pt;}
.y30{bottom:153.145953pt;}
.y2f{bottom:156.983648pt;}
.y1c{bottom:166.195172pt;}
.y29{bottom:171.817058pt;}
.y8{bottom:172.995794pt;}
.y10{bottom:178.559271pt;}
.y1b{bottom:203.226236pt;}
.y2e{bottom:207.025627pt;}
.y7{bottom:216.031896pt;}
.y28{bottom:216.854839pt;}
.yf{bottom:220.594533pt;}
.y2d{bottom:257.067606pt;}
.y6{bottom:259.067998pt;}
.y27{bottom:261.892620pt;}
.ye{bottom:262.629795pt;}
.y5{bottom:302.104099pt;}
.yd{bottom:304.665057pt;}
.y4{bottom:345.140201pt;}
.y3{bottom:388.176303pt;}
.y2{bottom:431.212404pt;}
.y1{bottom:474.248506pt;}
.y25{bottom:721.255499pt;}
.y24{bottom:760.288242pt;}
.y1a{bottom:794.044776pt;}
.y23{bottom:799.320986pt;}
.y19{bottom:823.069123pt;}
.y22{bottom:838.353729pt;}
.y2c{bottom:849.520217pt;}
.y15{bottom:850.812792pt;}
.y18{bottom:852.093471pt;}
.y21{bottom:877.386473pt;}
.y14{bottom:879.837140pt;}
.y17{bottom:881.117819pt;}
.y2b{bottom:895.558837pt;}
.y13{bottom:908.861488pt;}
.y33{bottom:922.641101pt;}
.y20{bottom:960.860810pt;}
.y0{bottom:964.382871pt;}
.y16{bottom:968.539559pt;}
.yc{bottom:979.496982pt;}
.y2a{bottom:981.674560pt;}
.y32{bottom:992.699871pt;}
.h6{height:45.364305pt;}
.h9{height:56.700064pt;}
.ha{height:59.549955pt;}
.h2{height:62.889006pt;}
.h5{height:64.909451pt;}
.hb{height:68.057091pt;}
.hc{height:69.737253pt;}
.he{height:70.885718pt;}
.h10{height:73.714337pt;}
.hf{height:76.564227pt;}
.h8{height:106.339205pt;}
.h4{height:106.509352pt;}
.h1{height:129.733830pt;}
.hd{height:1122.999659pt;}
.h7{height:1122.999815pt;}
.h3{height:1122.999893pt;}
.h0{height:1122.999972pt;}
.w0{width:794.000000pt;}
.x2{left:0.000000pt;}
.x13{left:29.400875pt;}
.xc{left:46.150608pt;}
.x11{left:75.067700pt;}
.x5{left:85.271929pt;}
.x17{left:90.919238pt;}
.x6{left:91.761748pt;}
.xe{left:111.690133pt;}
.x14{left:118.339243pt;}
.x3{left:120.639861pt;}
.x10{left:138.728440pt;}
.x9{left:142.385863pt;}
.x8{left:148.422177pt;}
.x19{left:154.372329pt;}
.x0{left:165.001754pt;}
.x4{left:168.216509pt;}
.x1a{left:171.824469pt;}
.x15{left:182.058740pt;}
.x1{left:186.929992pt;}
.x7{left:198.663925pt;}
.x16{left:225.411144pt;}
.xb{left:232.103204pt;}
.xa{left:255.230525pt;}
.x1b{left:257.124194pt;}
.xd{left:265.913090pt;}
.x12{left:266.884864pt;}
.xf{left:277.110149pt;}
.x18{left:397.176148pt;}
}
