.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.964000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.392157,0.000000,0.000000,0.392157,0,0);-ms-transform:matrix(0.392157,0.000000,0.000000,0.392157,0,0);-webkit-transform:matrix(0.392157,0.000000,0.000000,0.392157,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.280033px;}
._0{margin-left:-1.042136px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.565511px;}
.fs1{font-size:50.666490px;}
.y1e{bottom:5.679136px;}
.y22{bottom:7.808838px;}
.y1d{bottom:22.716546px;}
.y21{bottom:24.136310px;}
.y20{bottom:57.501201px;}
.y1c{bottom:72.408909px;}
.y1f{bottom:73.828697px;}
.y1b{bottom:119.261760px;}
.y18{bottom:121.391430px;}
.y9{bottom:132.039794px;}
.y1a{bottom:136.299138px;}
.y17{bottom:137.718910px;}
.y16{bottom:171.083817px;}
.y8{bottom:181.732181px;}
.y19{bottom:185.991525px;}
.y15{bottom:187.411297px;}
.y14{bottom:220.776204px;}
.y7{bottom:231.424567px;}
.y13{bottom:237.103700px;}
.y12{bottom:270.468591px;}
.y6{bottom:281.116954px;}
.y11{bottom:286.796079px;}
.y10{bottom:320.160962px;}
.y5{bottom:330.809341px;}
.yf{bottom:336.488458px;}
.ye{bottom:369.853359px;}
.y4{bottom:380.501723px;}
.yd{bottom:386.180854px;}
.yc{bottom:419.545739px;}
.y3{bottom:430.194108px;}
.yb{bottom:435.873239px;}
.y2{bottom:468.528238px;}
.ya{bottom:481.306278px;}
.y1{bottom:484.145846px;}
.y0{bottom:734.070794px;}
.h2{height:25.270836px;}
.h3{height:39.317196px;}
.h1{height:508.282147px;}
.h0{height:1242.352941px;}
.w1{width:959.999960px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:10.559812px;}
.x2{left:20.776359px;}
.x6{left:63.653602px;}
.x5{left:64.865629px;}
.x7{left:67.180392px;}
.x4{left:69.067962px;}
.x3{left:70.468742px;}
.xa{left:111.369004px;}
.x9{left:113.822854px;}
.xb{left:116.644282px;}
.x8{left:120.161129px;}
.xc{left:152.230848px;}
.x10{left:172.845112px;}
.xe{left:178.448224px;}
.xf{left:179.749656px;}
.xd{left:184.051336px;}
.x15{left:222.537507px;}
.x12{left:228.140619px;}
.x14{left:229.819561px;}
.x13{left:231.220341px;}
.x11{left:233.743731px;}
.x19{left:272.229898px;}
.x18{left:275.955366px;}
.x17{left:277.833010px;}
.x1a{left:279.164243px;}
.x16{left:283.436123px;}
.x1f{left:321.922290px;}
.x1e{left:324.217171px;}
.x20{left:325.647758px;}
.x1c{left:327.525402px;}
.x1d{left:328.737417px;}
.x21{left:331.896623px;}
.x1b{left:333.128514px;}
.x26{left:371.614681px;}
.x24{left:374.068519px;}
.x27{left:375.340149px;}
.x23{left:377.217793px;}
.x25{left:378.737784px;}
.x22{left:382.820905px;}
.x2a{left:421.307050px;}
.x2b{left:424.277491px;}
.x29{left:426.910162px;}
.x28{left:432.513274px;}
.x2e{left:470.999468px;}
.x30{left:472.668472px;}
.x2f{left:475.162055px;}
.x2d{left:476.602580px;}
.x2c{left:482.205692px;}
.x33{left:520.691836px;}
.x35{left:522.788028px;}
.x34{left:524.973641px;}
.x31{left:526.294948px;}
.x32{left:527.755331px;}
.x37{left:570.384250px;}
.x36{left:575.987362px;}
.x3a{left:620.076585px;}
.x39{left:624.139830px;}
.x38{left:625.679697px;}
.x3b{left:626.891712px;}
.x3f{left:669.769007px;}
.x40{left:673.673295px;}
.x3c{left:675.372119px;}
.x3e{left:677.279558px;}
.x3d{left:680.975231px;}
.x45{left:719.461353px;}
.x47{left:722.660292px;}
.x44{left:724.041195px;}
.x41{left:725.064465px;}
.x46{left:726.763276px;}
.x43{left:728.472032px;}
.x42{left:730.667577px;}
.x4c{left:769.153774px;}
.x4e{left:771.458593px;}
.x4d{left:772.690484px;}
.x48{left:774.756886px;}
.x4b{left:777.061711px;}
.x4a{left:778.730722px;}
.x49{left:780.359999px;}
.x52{left:818.846158px;}
.x54{left:822.561688px;}
.x4f{left:824.449270px;}
.x53{left:825.909658px;}
.x51{left:827.926371px;}
.x50{left:830.052382px;}
.x59{left:868.538617px;}
.x55{left:874.141729px;}
.x57{left:876.476356px;}
.x56{left:879.744841px;}
.x58{left:882.675550px;}
.x5e{left:918.230963px;}
.x5c{left:922.482967px;}
.x5a{left:923.834075px;}
.x5d{left:924.956680px;}
.x5b{left:929.437188px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.938028pt;}
._0{margin-left:-0.885815pt;}
.fs0{font-size:27.680684pt;}
.fs1{font-size:43.066517pt;}
.y1e{bottom:4.827265pt;}
.y22{bottom:6.637512pt;}
.y1d{bottom:19.309064pt;}
.y21{bottom:20.515864pt;}
.y20{bottom:48.876021pt;}
.y1c{bottom:61.547573pt;}
.y1f{bottom:62.754393pt;}
.y1b{bottom:101.372496pt;}
.y18{bottom:103.182715pt;}
.y9{bottom:112.233825pt;}
.y1a{bottom:115.854267pt;}
.y17{bottom:117.061074pt;}
.y16{bottom:145.421244pt;}
.y8{bottom:154.472353pt;}
.y19{bottom:158.092796pt;}
.y15{bottom:159.299603pt;}
.y14{bottom:187.659773pt;}
.y7{bottom:196.710882pt;}
.y13{bottom:201.538145pt;}
.y12{bottom:229.898302pt;}
.y6{bottom:238.949411pt;}
.y11{bottom:243.776667pt;}
.y10{bottom:272.136818pt;}
.y5{bottom:281.187940pt;}
.yf{bottom:286.015189pt;}
.ye{bottom:314.375355pt;}
.y4{bottom:323.426464pt;}
.yd{bottom:328.253726pt;}
.yc{bottom:356.613878pt;}
.y3{bottom:365.664992pt;}
.yb{bottom:370.492253pt;}
.y2{bottom:398.249003pt;}
.ya{bottom:409.110337pt;}
.y1{bottom:411.523969pt;}
.y0{bottom:623.960175pt;}
.h2{height:21.480211pt;}
.h3{height:33.419617pt;}
.h1{height:432.039825pt;}
.h0{height:1056.000000pt;}
.w1{width:815.999966pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:8.975840pt;}
.x2{left:17.659905pt;}
.x6{left:54.105561pt;}
.x5{left:55.135785pt;}
.x7{left:57.103333pt;}
.x4{left:58.707768pt;}
.x3{left:59.898430pt;}
.xa{left:94.663653pt;}
.x9{left:96.749426pt;}
.xb{left:99.147640pt;}
.x8{left:102.136960pt;}
.xc{left:129.396221pt;}
.x10{left:146.918345pt;}
.xe{left:151.680990pt;}
.xf{left:152.787207pt;}
.xd{left:156.443636pt;}
.x15{left:189.156881pt;}
.x12{left:193.919526pt;}
.x14{left:195.346627pt;}
.x13{left:196.537289pt;}
.x11{left:198.682172pt;}
.x19{left:231.395414pt;}
.x18{left:234.562062pt;}
.x17{left:236.158059pt;}
.x1a{left:237.289607pt;}
.x16{left:240.920704pt;}
.x1f{left:273.633946pt;}
.x1e{left:275.584595pt;}
.x20{left:276.800594pt;}
.x1c{left:278.396591pt;}
.x1d{left:279.426805pt;}
.x21{left:282.112130pt;}
.x1b{left:283.159237pt;}
.x26{left:315.872479pt;}
.x24{left:317.958241pt;}
.x27{left:319.039127pt;}
.x23{left:320.635124pt;}
.x25{left:321.927117pt;}
.x22{left:325.397770pt;}
.x2a{left:358.110992pt;}
.x2b{left:360.635868pt;}
.x29{left:362.873638pt;}
.x28{left:367.636283pt;}
.x2e{left:400.349547pt;}
.x30{left:401.768201pt;}
.x2f{left:403.887747pt;}
.x2d{left:405.112193pt;}
.x2c{left:409.874838pt;}
.x33{left:442.588061pt;}
.x35{left:444.369824pt;}
.x34{left:446.227595pt;}
.x31{left:447.350706pt;}
.x32{left:448.592031pt;}
.x37{left:484.826613pt;}
.x36{left:489.589258pt;}
.x3a{left:527.065097pt;}
.x39{left:530.518856pt;}
.x38{left:531.827743pt;}
.x3b{left:532.857956pt;}
.x3f{left:569.303656pt;}
.x40{left:572.622301pt;}
.x3c{left:574.066301pt;}
.x3e{left:575.687624pt;}
.x3d{left:578.828946pt;}
.x45{left:611.542150pt;}
.x47{left:614.261248pt;}
.x44{left:615.435016pt;}
.x41{left:616.304795pt;}
.x46{left:617.748785pt;}
.x43{left:619.201227pt;}
.x42{left:621.067441pt;}
.x4c{left:653.780708pt;}
.x4e{left:655.739804pt;}
.x4d{left:656.786911pt;}
.x48{left:658.543353pt;}
.x4b{left:660.502455pt;}
.x4a{left:661.921113pt;}
.x49{left:663.305999pt;}
.x52{left:696.019234pt;}
.x54{left:699.177435pt;}
.x4f{left:700.781879pt;}
.x53{left:702.023210pt;}
.x51{left:703.737416pt;}
.x50{left:705.544525pt;}
.x59{left:738.257825pt;}
.x55{left:743.020470pt;}
.x57{left:745.004902pt;}
.x56{left:747.783115pt;}
.x58{left:750.274217pt;}
.x5e{left:780.496319pt;}
.x5c{left:784.110522pt;}
.x5a{left:785.258964pt;}
.x5d{left:786.213178pt;}
.x5b{left:790.021609pt;}
}
