.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.964000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.403388,0.000000,0.000000,0.403388,0,0);-ms-transform:matrix(0.403388,0.000000,0.000000,0.403388,0,0);-webkit-transform:matrix(0.403388,0.000000,0.000000,0.403388,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-2.246528px;}
._0{margin-left:-1.026821px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:32.086962px;}
.fs1{font-size:49.921949px;}
.y1e{bottom:5.755916px;}
.y22{bottom:7.914422px;}
.y1d{bottom:23.023754px;}
.y21{bottom:24.462721px;}
.y20{bottom:58.278866px;}
.y1c{bottom:73.388198px;}
.y1f{bottom:74.827189px;}
.y1b{bottom:120.874725px;}
.y18{bottom:123.033199px;}
.y9{bottom:133.825579px;}
.y1a{bottom:138.142531px;}
.y17{bottom:139.581506px;}
.y16{bottom:173.397667px;}
.y8{bottom:184.190047px;}
.y19{bottom:188.506999px;}
.y15{bottom:189.945973px;}
.y14{bottom:223.762135px;}
.y7{bottom:234.554515px;}
.y13{bottom:240.310457px;}
.y12{bottom:274.126602px;}
.y6{bottom:284.918983px;}
.y11{bottom:290.674917px;}
.y10{bottom:324.491054px;}
.y5{bottom:335.283451px;}
.yf{bottom:341.039377px;}
.ye{bottom:374.855532px;}
.y4{bottom:385.647913px;}
.yd{bottom:391.403854px;}
.yc{bottom:425.219993px;}
.y3{bottom:436.012379px;}
.yb{bottom:441.768320px;}
.y2{bottom:474.864972px;}
.ya{bottom:487.815833px;}
.y1{bottom:490.693805px;}
.y0{bottom:843.326773px;}
.h2{height:24.899483px;}
.h3{height:38.739432px;}
.h1{height:515.156545px;}
.h0{height:1358.483318px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:10.702631px;}
.x2{left:21.057354px;}
.x6{left:64.514509px;}
.x5{left:65.742929px;}
.x7{left:68.088999px;}
.x4{left:70.002097px;}
.x3{left:71.421822px;}
.xa{left:112.875255px;}
.x9{left:115.362293px;}
.xb{left:118.221882px;}
.x8{left:121.786293px;}
.xc{left:154.289741px;}
.x10{left:175.182816px;}
.xe{left:180.861709px;}
.xf{left:182.180742px;}
.xd{left:186.540603px;}
.x15{left:225.547291px;}
.x12{left:231.226184px;}
.x14{left:232.927833px;}
.x13{left:234.347558px;}
.x11{left:236.905077px;}
.x19{left:275.911773px;}
.x18{left:279.687628px;}
.x17{left:281.590666px;}
.x1a{left:282.939904px;}
.x16{left:287.269560px;}
.x1f{left:326.276236px;}
.x1e{left:328.602155px;}
.x20{left:330.052091px;}
.x1c{left:331.955129px;}
.x1d{left:333.183537px;}
.x21{left:336.385471px;}
.x1b{left:337.634023px;}
.x26{left:376.640695px;}
.x24{left:379.127721px;}
.x27{left:380.416550px;}
.x23{left:382.319589px;}
.x25{left:383.860137px;}
.x22{left:387.998482px;}
.x2a{left:427.005159px;}
.x2b{left:430.015775px;}
.x29{left:432.684052px;}
.x28{left:438.362945px;}
.x2e{left:477.369641px;}
.x30{left:479.061218px;}
.x2f{left:481.588526px;}
.x2d{left:483.048534px;}
.x2c{left:488.727428px;}
.x33{left:527.734081px;}
.x35{left:529.858623px;}
.x34{left:532.073796px;}
.x31{left:533.412974px;}
.x32{left:534.893108px;}
.x37{left:578.098563px;}
.x36{left:583.777456px;}
.x3a{left:628.463050px;}
.x39{left:632.581250px;}
.x38{left:634.141943px;}
.x3b{left:635.370350px;}
.x3f{left:678.827528px;}
.x40{left:682.784621px;}
.x3c{left:684.506421px;}
.x3e{left:686.439658px;}
.x3d{left:690.185315px;}
.x45{left:729.191980px;}
.x47{left:732.434184px;}
.x44{left:733.833764px;}
.x41{left:734.870873px;}
.x46{left:736.592660px;}
.x43{left:738.324526px;}
.x42{left:740.549766px;}
.x4c{left:779.556392px;}
.x4e{left:781.892384px;}
.x4d{left:783.140936px;}
.x48{left:785.235286px;}
.x4b{left:787.571283px;}
.x4a{left:789.262866px;}
.x49{left:790.914179px;}
.x52{left:829.920844px;}
.x54{left:833.686626px;}
.x4f{left:835.599737px;}
.x53{left:837.079877px;}
.x51{left:839.123866px;}
.x50{left:841.278630px;}
.x59{left:880.285489px;}
.x55{left:885.964382px;}
.x57{left:888.330584px;}
.x56{left:891.643276px;}
.x58{left:894.613621px;}
.x5e{left:930.649902px;}
.x5c{left:934.959413px;}
.x5a{left:936.328795px;}
.x5d{left:937.466583px;}
.x5b{left:942.007688px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.856381pt;}
._0{margin-left:-0.848497pt;}
.fs0{font-size:26.514525pt;}
.fs1{font-size:41.252167pt;}
.y1e{bottom:4.756305pt;}
.y22{bottom:6.539950pt;}
.y1d{bottom:19.025294pt;}
.y21{bottom:20.214360pt;}
.y20{bottom:48.157766pt;}
.y1c{bottom:60.643110pt;}
.y1f{bottom:61.832196pt;}
.y1b{bottom:99.882808pt;}
.y18{bottom:101.666426pt;}
.y9{bottom:110.584530pt;}
.y1a{bottom:114.151771pt;}
.y17{bottom:115.340843pt;}
.y16{bottom:143.284262pt;}
.y8{bottom:152.202365pt;}
.y19{bottom:155.769606pt;}
.y15{bottom:156.958679pt;}
.y14{bottom:184.902098pt;}
.y7{bottom:193.820201pt;}
.y13{bottom:198.576528pt;}
.y12{bottom:226.519934pt;}
.y6{bottom:235.438037pt;}
.y11{bottom:240.194357pt;}
.y10{bottom:268.137756pt;}
.y5{bottom:277.055873pt;}
.yf{bottom:281.812186pt;}
.ye{bottom:309.755601pt;}
.y4{bottom:318.673704pt;}
.yd{bottom:323.430029pt;}
.yc{bottom:351.373431pt;}
.y3{bottom:360.291538pt;}
.yb{bottom:365.047864pt;}
.y2{bottom:392.396729pt;}
.ya{bottom:403.098456pt;}
.y1{bottom:405.476620pt;}
.y0{bottom:696.868977pt;}
.h2{height:20.575271pt;}
.h3{height:32.011682pt;}
.h1{height:425.690997pt;}
.h0{height:1122.559973pt;}
.w0{width:793.279947pt;}
.x0{left:0.000000pt;}
.x1{left:8.843940pt;}
.x2{left:17.400392pt;}
.x6{left:53.310485pt;}
.x5{left:54.325570pt;}
.x7{left:56.264205pt;}
.x4{left:57.845062pt;}
.x3{left:59.018228pt;}
.xa{left:93.272580pt;}
.x9{left:95.327702pt;}
.xb{left:97.690675pt;}
.x8{left:100.636067pt;}
.xc{left:127.494747pt;}
.x10{left:144.759391pt;}
.xe{left:149.452049pt;}
.xf{left:150.542010pt;}
.xd{left:154.144708pt;}
.x15{left:186.377232pt;}
.x12{left:191.069890pt;}
.x14{left:192.476020pt;}
.x13{left:193.649186pt;}
.x11{left:195.762549pt;}
.x19{left:227.995080pt;}
.x18{left:231.115194pt;}
.x17{left:232.687738pt;}
.x1a{left:233.802658pt;}
.x16{left:237.380397pt;}
.x1f{left:269.612912pt;}
.x1e{left:271.534896pt;}
.x20{left:272.733026pt;}
.x1c{left:274.305570pt;}
.x1d{left:275.320644pt;}
.x21{left:277.966509pt;}
.x1b{left:278.998229pt;}
.x26{left:311.230740pt;}
.x24{left:313.285853pt;}
.x27{left:314.350855pt;}
.x23{left:315.923399pt;}
.x25{left:317.196406pt;}
.x22{left:320.616057pt;}
.x2a{left:352.848572pt;}
.x2b{left:355.336345pt;}
.x29{left:357.541231pt;}
.x28{left:362.233889pt;}
.x2e{left:394.466420pt;}
.x30{left:395.864227pt;}
.x2f{left:397.952626pt;}
.x2d{left:399.159079pt;}
.x2c{left:403.851737pt;}
.x33{left:436.084233pt;}
.x35{left:437.839813pt;}
.x34{left:439.670284pt;}
.x31{left:440.776891pt;}
.x32{left:441.999975pt;}
.x37{left:477.702081pt;}
.x36{left:482.394739pt;}
.x3a{left:519.319932pt;}
.x39{left:522.722937pt;}
.x38{left:524.012590pt;}
.x3b{left:525.027664pt;}
.x3f{left:560.937776pt;}
.x40{left:564.207654pt;}
.x3c{left:565.630435pt;}
.x3e{left:567.227933pt;}
.x3d{left:570.323093pt;}
.x45{left:602.555599pt;}
.x47{left:605.234740pt;}
.x44{left:606.391260pt;}
.x41{left:607.248257pt;}
.x46{left:608.671027pt;}
.x43{left:610.102126pt;}
.x42{left:611.940916pt;}
.x4c{left:644.173389pt;}
.x4e{left:646.103696pt;}
.x4d{left:647.135416pt;}
.x48{left:648.866047pt;}
.x4b{left:650.796360pt;}
.x4a{left:652.194171pt;}
.x49{left:653.558706pt;}
.x52{left:685.791211pt;}
.x54{left:688.903002pt;}
.x4f{left:690.483870pt;}
.x53{left:691.706959pt;}
.x51{left:693.395974pt;}
.x50{left:695.176528pt;}
.x59{left:727.409194pt;}
.x55{left:732.101852pt;}
.x57{left:734.057123pt;}
.x56{left:736.794511pt;}
.x58{left:739.249006pt;}
.x5e{left:769.026984pt;}
.x5c{left:772.588076pt;}
.x5a{left:773.719642pt;}
.x5d{left:774.659834pt;}
.x5b{left:778.412301pt;}
}
