.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.110000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.403023,0.000000,0.000000,0.403023,0,0);-ms-transform:matrix(0.403023,0.000000,0.000000,0.403023,0,0);-webkit-transform:matrix(0.403023,0.000000,0.000000,0.403023,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:12.333103px;}
.fc1{color:rgb(255,253,218);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(101,54,75);}
.fs5{font-size:61.331821px;}
.fs8{font-size:69.860393px;}
.fs9{font-size:71.427666px;}
.fs4{font-size:81.141229px;}
.fs6{font-size:86.721147px;}
.fs1{font-size:95.823030px;}
.fs7{font-size:99.086595px;}
.fs0{font-size:310.260267px;}
.fs2{font-size:316.419427px;}
.fs3{font-size:534.755784px;}
.y4{bottom:0.000000px;}
.yb{bottom:55.275799px;}
.ya{bottom:96.596265px;}
.y9{bottom:137.916730px;}
.y8{bottom:179.237196px;}
.y3{bottom:418.416824px;}
.y2{bottom:482.974701px;}
.yf{bottom:506.286097px;}
.y1{bottom:547.532578px;}
.ye{bottom:573.432074px;}
.y11{bottom:632.572491px;}
.yd{bottom:691.952532px;}
.y0{bottom:700.540948px;}
.y10{bottom:759.917212px;}
.yc{bottom:813.377916px;}
.y7{bottom:991.314645px;}
.y6{bottom:1070.736138px;}
.y5{bottom:1077.685835px;}
.h8{height:52.009385px;}
.hb{height:59.241614px;}
.hc{height:60.570661px;}
.h6{height:68.807762px;}
.h9{height:73.539532px;}
.h2{height:81.257929px;}
.ha{height:84.025433px;}
.h1{height:263.100707px;}
.h4{height:268.323674px;}
.h5{height:453.472905px;}
.h7{height:1357.782963px;}
.h3{height:1357.783247px;}
.h0{height:1357.783341px;}
.w0{width:960.000000px;}
.x2{left:0.000000px;}
.x6{left:43.594654px;}
.x0{left:60.536882px;}
.x1{left:69.653999px;}
.x3{left:114.931451px;}
.x9{left:191.511672px;}
.x8{left:283.241887px;}
.xc{left:289.293403px;}
.xb{left:303.686061px;}
.x5{left:308.437913px;}
.x7{left:329.707354px;}
.xa{left:340.172258px;}
.x4{left:381.866051px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:10.200504pt;}
.fs5{font-size:50.726527pt;}
.fs8{font-size:57.780367pt;}
.fs9{font-size:59.076632pt;}
.fs4{font-size:67.110558pt;}
.fs6{font-size:71.725615pt;}
.fs1{font-size:79.253631pt;}
.fs7{font-size:81.952871pt;}
.fs0{font-size:256.611096pt;}
.fs2{font-size:261.705235pt;}
.fs3{font-size:442.287596pt;}
.y4{bottom:0.000000pt;}
.yb{bottom:45.717692pt;}
.ya{bottom:79.893161pt;}
.y9{bottom:114.068629pt;}
.y8{bottom:148.244097pt;}
.y3{bottom:346.065581pt;}
.y2{bottom:399.460325pt;}
.yf{bottom:418.740793pt;}
.y1{bottom:452.855070pt;}
.ye{bottom:474.276111pt;}
.y11{bottom:523.190164pt;}
.yd{bottom:572.302407pt;}
.y0{bottom:579.405742pt;}
.y10{bottom:628.514861pt;}
.yc{bottom:672.731318pt;}
.y7{bottom:819.899821pt;}
.y6{bottom:885.588014pt;}
.y5{bottom:891.335992pt;}
.h8{height:43.016095pt;}
.hb{height:48.997751pt;}
.hc{height:50.096984pt;}
.h6{height:56.909753pt;}
.h9{height:60.823321pt;}
.h2{height:67.207079pt;}
.ha{height:69.496035pt;}
.h1{height:217.606210pt;}
.h4{height:221.926039pt;}
.h5{height:375.059882pt;}
.h7{height:1122.999659pt;}
.h3{height:1122.999893pt;}
.h0{height:1122.999972pt;}
.w0{width:794.000000pt;}
.x2{left:0.000000pt;}
.x6{left:36.056412pt;}
.x0{left:50.069046pt;}
.x1{left:57.609662pt;}
.x3{left:95.057887pt;}
.x9{left:158.396112pt;}
.x8{left:234.264644pt;}
.xc{left:239.269752pt;}
.xb{left:251.173680pt;}
.x5{left:255.103857pt;}
.x7{left:272.695457pt;}
.xa{left:281.350805pt;}
.x4{left:315.835046pt;}
}
