.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.h0{height:1347.024000px;}
.w0{width:952.441600px;}
@media print{
.h0{height:1122.520000pt;}
.w0{width:793.701333pt;}
}
