.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.044000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.712000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.201638,0.000000,0.000000,0.201638,0,0);-ms-transform:matrix(0.201638,0.000000,0.000000,0.201638,0,0);-webkit-transform:matrix(0.201638,0.000000,0.000000,0.201638,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:4.263063px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(252,255,222);}
.fs2{font-size:119.999995px;}
.fs1{font-size:134.099997px;}
.fs0{font-size:139.979994px;}
.y5{bottom:0.000000px;}
.y0{bottom:0.000015px;}
.y3f{bottom:46.778463px;}
.y3e{bottom:80.653698px;}
.y19{bottom:81.074777px;}
.y29{bottom:83.217976px;}
.y3d{bottom:114.528933px;}
.y18{bottom:114.950011px;}
.y3{bottom:115.952354px;}
.y28{bottom:117.093210px;}
.y3c{bottom:148.404167px;}
.y17{bottom:148.825246px;}
.y4{bottom:176.360764px;}
.y16{bottom:216.575716px;}
.y32{bottom:229.331178px;}
.y2{bottom:237.860285px;}
.y15{bottom:250.450951px;}
.y27{bottom:256.425516px;}
.y31{bottom:263.206413px;}
.y1{bottom:277.179754px;}
.y26{bottom:290.300751px;}
.y14{bottom:303.078354px;}
.y13{bottom:453.901411px;}
.y12{bottom:487.776646px;}
.y11{bottom:521.651881px;}
.y25{bottom:568.934392px;}
.yc{bottom:592.786854px;}
.y24{bottom:602.809627px;}
.y30{bottom:610.083902px;}
.yb{bottom:626.662089px;}
.y2f{bottom:643.959137px;}
.ya{bottom:660.537324px;}
.y2e{bottom:677.834371px;}
.y2d{bottom:711.709606px;}
.y3b{bottom:713.008689px;}
.y2c{bottom:745.584841px;}
.y3a{bottom:746.883924px;}
.y23{bottom:823.937036px;}
.y22{bottom:857.812271px;}
.y10{bottom:881.288157px;}
.y39{bottom:906.156122px;}
.yf{bottom:915.163392px;}
.y21{bottom:921.727199px;}
.y38{bottom:940.031357px;}
.ye{bottom:949.038627px;}
.y20{bottom:955.602434px;}
.y37{bottom:973.906592px;}
.yd{bottom:982.913862px;}
.y1f{bottom:989.477669px;}
.y36{bottom:1007.781827px;}
.y1e{bottom:1023.352904px;}
.y35{bottom:1041.657061px;}
.y9{bottom:1047.633998px;}
.y1d{bottom:1057.228138px;}
.y34{bottom:1075.532296px;}
.y8{bottom:1081.509233px;}
.y1c{bottom:1091.103373px;}
.y2b{bottom:1104.142865px;}
.y33{bottom:1109.407531px;}
.y7{bottom:1115.384468px;}
.y2a{bottom:1138.018100px;}
.y6{bottom:1149.259703px;}
.y1b{bottom:1155.018303px;}
.y1a{bottom:1188.893538px;}
.h8{height:84.239996px;}
.h5{height:96.599996px;}
.h3{height:107.950498px;}
.h2{height:112.683895px;}
.h7{height:1358.033607px;}
.h6{height:1358.033796px;}
.h4{height:1358.033891px;}
.h1{height:1358.033970px;}
.h0{height:1358.033985px;}
.w1{width:959.999960px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:111.632699px;}
.x3{left:114.089019px;}
.x4{left:116.163854px;}
.x5{left:117.241464px;}
.x2{left:119.820670px;}
.x7{left:121.545682px;}
.x6{left:123.069135px;}
.x8{left:241.444697px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:7.047376pt;}
.fs2{font-size:198.374992pt;}
.fs1{font-size:221.684058pt;}
.fs0{font-size:231.404428pt;}
.y5{bottom:0.000000pt;}
.y0{bottom:0.000026pt;}
.y3f{bottom:77.330646pt;}
.y3e{bottom:133.330644pt;}
.y19{bottom:134.026740pt;}
.y29{bottom:137.569716pt;}
.y3d{bottom:189.330642pt;}
.y18{bottom:190.026738pt;}
.y3{bottom:191.683736pt;}
.y28{bottom:193.569713pt;}
.y3c{bottom:245.330639pt;}
.y17{bottom:246.026735pt;}
.y4{bottom:291.546388pt;}
.y16{bottom:358.026731pt;}
.y32{bottom:379.113104pt;}
.y2{bottom:393.212784pt;}
.y15{bottom:414.026728pt;}
.y27{bottom:423.903432pt;}
.y31{bottom:435.113102pt;}
.y1{bottom:458.212781pt;}
.y26{bottom:479.903430pt;}
.y14{bottom:501.026405pt;}
.y13{bottom:750.355770pt;}
.y12{bottom:806.355768pt;}
.y11{bottom:862.355766pt;}
.y25{bottom:940.519666pt;}
.yc{bottom:979.950769pt;}
.y24{bottom:996.519664pt;}
.y30{bottom:1008.544950pt;}
.yb{bottom:1035.950766pt;}
.y2f{bottom:1064.544948pt;}
.ya{bottom:1091.950764pt;}
.y2e{bottom:1120.544945pt;}
.y2d{bottom:1176.544943pt;}
.y3b{bottom:1178.692488pt;}
.y2c{bottom:1232.544941pt;}
.y3a{bottom:1234.692486pt;}
.y23{bottom:1362.070913pt;}
.y22{bottom:1418.070910pt;}
.y10{bottom:1456.879485pt;}
.y39{bottom:1497.989339pt;}
.yf{bottom:1512.879483pt;}
.y21{bottom:1523.730276pt;}
.y38{bottom:1553.989337pt;}
.ye{bottom:1568.879480pt;}
.y20{bottom:1579.730273pt;}
.y37{bottom:1609.989334pt;}
.yd{bottom:1624.879478pt;}
.y1f{bottom:1635.730271pt;}
.y36{bottom:1665.989332pt;}
.y1e{bottom:1691.730269pt;}
.y35{bottom:1721.989330pt;}
.y9{bottom:1731.869953pt;}
.y1d{bottom:1747.730266pt;}
.y34{bottom:1777.989327pt;}
.y8{bottom:1787.869951pt;}
.y1c{bottom:1803.730264pt;}
.y2b{bottom:1825.286174pt;}
.y33{bottom:1833.989325pt;}
.y7{bottom:1843.869949pt;}
.y2a{bottom:1881.286171pt;}
.y6{bottom:1899.869946pt;}
.y1b{bottom:1909.389632pt;}
.y1a{bottom:1965.389630pt;}
.h8{height:139.259244pt;}
.h5{height:159.691868pt;}
.h3{height:178.455667pt;}
.h2{height:186.280564pt;}
.h7{height:2244.999307pt;}
.h6{height:2244.999620pt;}
.h4{height:2244.999776pt;}
.h1{height:2244.999906pt;}
.h0{height:2244.999932pt;}
.w1{width:1586.999934pt;}
.w0{width:1587.000000pt;}
.x0{left:0.000000pt;}
.x1{left:184.542805pt;}
.x3{left:188.603410pt;}
.x4{left:192.033371pt;}
.x5{left:193.814795pt;}
.x2{left:198.078545pt;}
.x7{left:200.930206pt;}
.x6{left:203.448664pt;}
.x8{left:399.138265pt;}
}
