.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.172852;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.201172;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.403226,0.000000,0.000000,0.403226,0,0);-ms-transform:matrix(0.403226,0.000000,0.000000,0.403226,0,0);-webkit-transform:matrix(0.403226,0.000000,0.000000,0.403226,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-3.216000px;}
._0{margin-left:-1.203840px;}
._2{width:1.123200px;}
._3{width:603.868800px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.480000px;}
.fs1{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.y0{bottom:0.000000px;}
.y13{bottom:130.103226px;}
.y12{bottom:760.096774px;}
.y11{bottom:785.645161px;}
.y10{bottom:810.032258px;}
.yf{bottom:834.806452px;}
.ye{bottom:860.741935px;}
.yd{bottom:887.064516px;}
.yc{bottom:913.435484px;}
.yb{bottom:939.758065px;}
.ya{bottom:966.080645px;}
.y9{bottom:992.403226px;}
.y8{bottom:1018.725806px;}
.y7{bottom:1045.080645px;}
.y6{bottom:1071.403226px;}
.y5{bottom:1097.725806px;}
.y4{bottom:1123.661290px;}
.y3{bottom:1149.983871px;}
.y2{bottom:1175.967742px;}
.y1{bottom:1227.838710px;}
.h1{height:43.922812px;}
.h3{height:47.742188px;}
.h2{height:49.148438px;}
.h0{height:1357.935484px;}
.w1{width:959.999986px;}
.w0{width:960.000000px;}
.x0{left:0.000014px;}
.x2{left:85.974179px;}
.x1{left:87.135470px;}
.x3{left:873.677405px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-2.658560pt;}
._0{margin-left:-0.995174pt;}
._2{width:0.928512pt;}
._3{width:499.198208pt;}
.fs0{font-size:30.156800pt;}
.fs1{font-size:36.505600pt;}
.fs2{font-size:39.680000pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:107.552000pt;}
.y12{bottom:628.346667pt;}
.y11{bottom:649.466667pt;}
.y10{bottom:669.626667pt;}
.yf{bottom:690.106667pt;}
.ye{bottom:711.546667pt;}
.yd{bottom:733.306667pt;}
.yc{bottom:755.106667pt;}
.yb{bottom:776.866667pt;}
.ya{bottom:798.626667pt;}
.y9{bottom:820.386667pt;}
.y8{bottom:842.146667pt;}
.y7{bottom:863.933333pt;}
.y6{bottom:885.693333pt;}
.y5{bottom:907.453333pt;}
.y4{bottom:928.893333pt;}
.y3{bottom:950.653333pt;}
.y2{bottom:972.133333pt;}
.y1{bottom:1015.013333pt;}
.h1{height:36.309525pt;}
.h3{height:39.466875pt;}
.h2{height:40.629375pt;}
.h0{height:1122.560000pt;}
.w1{width:793.599988pt;}
.w0{width:793.600000pt;}
.x0{left:0.000012pt;}
.x2{left:71.071988pt;}
.x1{left:72.031988pt;}
.x3{left:722.239988pt;}
}
