.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.119000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.044000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:2.003699px;}
._3{width:3.391705px;}
._1{width:4.947449px;}
._2{width:7.314533px;}
._0{width:33.878923px;}
.fc0{color:rgb(71,71,71);}
.fs8{font-size:53.234657px;}
.fs6{font-size:53.256536px;}
.fs3{font-size:61.668843px;}
.fsa{font-size:64.042786px;}
.fs5{font-size:66.185255px;}
.fs7{font-size:85.196453px;}
.fs9{font-size:85.271532px;}
.fs1{font-size:89.955786px;}
.fs4{font-size:98.653936px;}
.fs2{font-size:143.905612px;}
.fs0{font-size:184.144479px;}
.y6{bottom:0.000000px;}
.ye{bottom:78.622397px;}
.yd{bottom:105.249359px;}
.y14{bottom:112.708711px;}
.y1b{bottom:123.078905px;}
.y21{bottom:124.726141px;}
.y1{bottom:128.458236px;}
.y13{bottom:134.134325px;}
.y1a{bottom:144.096536px;}
.y20{bottom:146.793671px;}
.y12{bottom:155.559938px;}
.y4{bottom:164.648309px;}
.y19{bottom:165.114167px;}
.y1f{bottom:168.861201px;}
.y11{bottom:176.985552px;}
.y18{bottom:186.131798px;}
.yb{bottom:195.330452px;}
.y10{bottom:198.411166px;}
.y3{bottom:200.838383px;}
.yf{bottom:219.836780px;}
.y2{bottom:237.028456px;}
.ya{bottom:244.950383px;}
.y1e{bottom:252.098037px;}
.y17{bottom:268.022645px;}
.y9{bottom:269.760348px;}
.y5{bottom:296.515228px;}
.y1d{bottom:310.647152px;}
.y8{bottom:319.380278px;}
.y16{bottom:326.735747px;}
.y7{bottom:344.190244px;}
.y1c{bottom:369.196267px;}
.yc{bottom:384.971155px;}
.y15{bottom:385.448848px;}
.y0{bottom:737.514560px;}
.hb{height:44.397704px;}
.h9{height:44.415951px;}
.h5{height:51.431815px;}
.he{height:53.027427px;}
.h7{height:55.198503px;}
.ha{height:70.542663px;}
.hc{height:70.604828px;}
.h2{height:75.023126px;}
.h6{height:81.685459px;}
.h3{height:119.153846px;}
.h1{height:152.471629px;}
.hd{height:842.249744px;}
.h8{height:842.249862px;}
.h4{height:842.249920px;}
.h0{height:842.249979px;}
.w0{width:595.500000px;}
.x2{left:0.000000px;}
.x5{left:40.684650px;}
.x0{left:84.093723px;}
.x3{left:123.338330px;}
.x4{left:128.147747px;}
.x1{left:211.915597px;}
.x6{left:364.464712px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:2.671599pt;}
._3{width:4.522273pt;}
._1{width:6.596599pt;}
._2{width:9.752710pt;}
._0{width:45.171897pt;}
.fs8{font-size:70.979543pt;}
.fs6{font-size:71.008714pt;}
.fs3{font-size:82.225123pt;}
.fsa{font-size:85.390381pt;}
.fs5{font-size:88.247007pt;}
.fs7{font-size:113.595270pt;}
.fs9{font-size:113.695376pt;}
.fs1{font-size:119.941048pt;}
.fs4{font-size:131.538582pt;}
.fs2{font-size:191.874149pt;}
.fs0{font-size:245.525972pt;}
.y6{bottom:0.000000pt;}
.ye{bottom:104.829863pt;}
.yd{bottom:140.332478pt;}
.y14{bottom:150.278281pt;}
.y1b{bottom:164.105207pt;}
.y21{bottom:166.301521pt;}
.y1{bottom:171.277648pt;}
.y13{bottom:178.845766pt;}
.y1a{bottom:192.128715pt;}
.y20{bottom:195.724895pt;}
.y12{bottom:207.413251pt;}
.y4{bottom:219.531079pt;}
.y19{bottom:220.152223pt;}
.y1f{bottom:225.148268pt;}
.y11{bottom:235.980736pt;}
.y18{bottom:248.175731pt;}
.yb{bottom:260.440603pt;}
.y10{bottom:264.548221pt;}
.y3{bottom:267.784510pt;}
.yf{bottom:293.115706pt;}
.y2{bottom:316.037941pt;}
.ya{bottom:326.600510pt;}
.y1e{bottom:336.130716pt;}
.y17{bottom:357.363527pt;}
.y9{bottom:359.680464pt;}
.y5{bottom:395.353638pt;}
.y1d{bottom:414.196203pt;}
.y8{bottom:425.840371pt;}
.y16{bottom:435.647662pt;}
.y7{bottom:458.920325pt;}
.y1c{bottom:492.261689pt;}
.yc{bottom:513.294874pt;}
.y15{bottom:513.931798pt;}
.y0{bottom:983.352747pt;}
.hb{height:59.196939pt;}
.h9{height:59.221268pt;}
.h5{height:68.575753pt;}
.he{height:70.703235pt;}
.h7{height:73.598004pt;}
.ha{height:94.056884pt;}
.hc{height:94.139771pt;}
.h2{height:100.030834pt;}
.h6{height:108.913946pt;}
.h3{height:158.871795pt;}
.h1{height:203.295505pt;}
.hd{height:1122.999659pt;}
.h8{height:1122.999815pt;}
.h4{height:1122.999893pt;}
.h0{height:1122.999972pt;}
.w0{width:794.000000pt;}
.x2{left:0.000000pt;}
.x5{left:54.246199pt;}
.x0{left:112.124964pt;}
.x3{left:164.451107pt;}
.x4{left:170.863663pt;}
.x1{left:282.554129pt;}
.x6{left:485.952949pt;}
}
