.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.781000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.065125;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);-ms-transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);-webkit-transform:matrix(0.400000,0.000000,0.000000,0.400000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{width:3.452972px;}
._1{width:4.465070px;}
._0{width:21.618000px;}
._7{width:583.540054px;}
._5{width:584.610188px;}
._3{width:681.244902px;}
._4{width:777.923903px;}
._2{width:874.553993px;}
.fc1{color:rgb(217,217,217);}
.fc0{color:rgb(59,55,96);}
.fs4{font-size:69.057931px;}
.fs1{font-size:72.060449px;}
.fs2{font-size:89.535108px;}
.fs5{font-size:91.276569px;}
.fs3{font-size:92.057224px;}
.fs0{font-size:100.073955px;}
.y8{bottom:0.000000px;}
.y1c{bottom:61.224333px;}
.y1b{bottom:103.259595px;}
.y21{bottom:135.868850px;}
.y1a{bottom:145.294857px;}
.y20{bottom:186.311164px;}
.y19{bottom:187.330119px;}
.y18{bottom:229.365381px;}
.y1f{bottom:236.753479px;}
.y17{bottom:271.400644px;}
.y1e{bottom:287.195794px;}
.y16{bottom:313.435906px;}
.y7{bottom:350.101100px;}
.y15{bottom:355.471168px;}
.y6{bottom:393.337370px;}
.ye{bottom:422.329626px;}
.y5{bottom:436.573639px;}
.y14{bottom:439.541692px;}
.yd{bottom:478.776978px;}
.y4{bottom:479.809909px;}
.y13{bottom:481.576954px;}
.y3{bottom:523.046179px;}
.y12{bottom:523.612216px;}
.yc{bottom:535.224330px;}
.y11{bottom:565.647478px;}
.yb{bottom:591.671682px;}
.y10{bottom:607.682741px;}
.ya{bottom:648.119034px;}
.y1d{bottom:657.603885px;}
.yf{bottom:691.753265px;}
.y2{bottom:695.991257px;}
.y9{bottom:704.566386px;}
.y0{bottom:1038.598910px;}
.y1{bottom:1232.491271px;}
.h6{height:52.829317px;}
.h2{height:55.126244px;}
.h3{height:68.494358px;}
.h5{height:70.423776px;}
.h8{height:74.664234px;}
.h1{height:76.556576px;}
.h7{height:1347.599778px;}
.h4{height:1347.599872px;}
.h0{height:1347.599966px;}
.w0{width:952.800000px;}
.x8{left:0.000000px;}
.x9{left:52.196318px;}
.x3{left:227.900563px;}
.x10{left:290.151413px;}
.x1{left:305.937985px;}
.x6{left:427.080155px;}
.x7{left:449.486451px;}
.x5{left:455.097402px;}
.x4{left:465.068258px;}
.x2{left:489.763974px;}
.x0{left:492.374143px;}
.xa{left:542.703257px;}
.x14{left:548.137453px;}
.x12{left:589.196897px;}
.xf{left:600.708165px;}
.x13{left:607.868810px;}
.xe{left:658.720670px;}
.x11{left:699.107854px;}
.xc{left:745.729826px;}
.xd{left:803.734728px;}
.xb{left:861.739643px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{width:2.877476pt;}
._1{width:3.720891pt;}
._0{width:18.015000pt;}
._7{width:486.283379pt;}
._5{width:487.175157pt;}
._3{width:567.704085pt;}
._4{width:648.269919pt;}
._2{width:728.794994pt;}
.fs4{font-size:57.548276pt;}
.fs1{font-size:60.050374pt;}
.fs2{font-size:74.612590pt;}
.fs5{font-size:76.063808pt;}
.fs3{font-size:76.714353pt;}
.fs0{font-size:83.394963pt;}
.y8{bottom:0.000000pt;}
.y1c{bottom:51.020277pt;}
.y1b{bottom:86.049663pt;}
.y21{bottom:113.224042pt;}
.y1a{bottom:121.079048pt;}
.y20{bottom:155.259304pt;}
.y19{bottom:156.108433pt;}
.y18{bottom:191.137818pt;}
.y1f{bottom:197.294566pt;}
.y17{bottom:226.167203pt;}
.y1e{bottom:239.329828pt;}
.y16{bottom:261.196588pt;}
.y7{bottom:291.750917pt;}
.y15{bottom:296.225973pt;}
.y6{bottom:327.781141pt;}
.ye{bottom:351.941355pt;}
.y5{bottom:363.811366pt;}
.y14{bottom:366.284743pt;}
.yd{bottom:398.980815pt;}
.y4{bottom:399.841591pt;}
.y13{bottom:401.314128pt;}
.y3{bottom:435.871815pt;}
.y12{bottom:436.343514pt;}
.yc{bottom:446.020275pt;}
.y11{bottom:471.372899pt;}
.yb{bottom:493.059735pt;}
.y10{bottom:506.402284pt;}
.ya{bottom:540.099195pt;}
.y1d{bottom:548.003238pt;}
.yf{bottom:576.461054pt;}
.y2{bottom:579.992714pt;}
.y9{bottom:587.138655pt;}
.y0{bottom:865.499091pt;}
.y1{bottom:1027.076059pt;}
.h6{height:44.024431pt;}
.h2{height:45.938536pt;}
.h3{height:57.078632pt;}
.h5{height:58.686480pt;}
.h8{height:62.220195pt;}
.h1{height:63.797146pt;}
.h7{height:1122.999815pt;}
.h4{height:1122.999893pt;}
.h0{height:1122.999972pt;}
.w0{width:794.000000pt;}
.x8{left:0.000000pt;}
.x9{left:43.496932pt;}
.x3{left:189.917136pt;}
.x10{left:241.792844pt;}
.x1{left:254.948321pt;}
.x6{left:355.900129pt;}
.x7{left:374.572043pt;}
.x5{left:379.247835pt;}
.x4{left:387.556881pt;}
.x2{left:408.136645pt;}
.x0{left:410.311786pt;}
.xa{left:452.252714pt;}
.x14{left:456.781211pt;}
.x12{left:490.997414pt;}
.xf{left:500.590138pt;}
.x13{left:506.557342pt;}
.xe{left:548.933892pt;}
.x11{left:582.589878pt;}
.xc{left:621.441521pt;}
.xd{left:669.778940pt;}
.xb{left:718.116369pt;}
}
